html {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
}

body,td,th,p {
  	font-family: "playfair display", sans-serif, sans-serif;
  	color: #7a0b20;
  }

body {
  	background-color:
#ffe8ec
;
  	margin: 0;
  	position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  ul, li {
   font-size: 10pt;
   list-style: none;
  }

  img {
    position: relative
    top: -50%;
    left: 0;
  }

  a {
  	text-decoration: none;
  }

  a:hover, a:focus {
  	text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

  #maincontent {
    background-color:
#ffe8ec
;
    min-height: 100%;
    max-width: 100vw;
  }

  .recipe-name {
    text-transform: capitalize;
  }
/* =========================== Black Header ==================== */
header {
  height: 70px;
}
/*--------------Black Header---------------------------*/
.black-header {
  width: 100%;
  background-color: #7a0b20;
  height: 70px;
  display: flex;
}

/*-------------Header icons-------------------------*/

.fa-search {
  color:
#ffe8ec
;
}

.header-search-trending {
  width: 10vw;
  text-align: right;
  line-height: 70px;
}

.main-title {
  width: 80vw;
}

h1.main-logo {
  display: block;
  font-size: 3em;
  font-weight: lighter;
  font-family: georgia times new roman;
  color: white;
  text-align: center;
}

a.main-logo:hover, a.main-logo:active, a.main-logo:visited {
  color: white;
  text-decoration: none;
}

.slogan {
  display: none;
}

.fas.fa-bars {
  color:
#ffe8ec
;
  width: 10vw;
  line-height: 70px;
  margin-right: 5vw;
  text-align: center;
}

.header.social-media {
  display: none;
}

.fa-fire {
  opacity: 0;
}


#search-button {
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  background-color: #873846;
  color:
#ffe8ec
;
  box-shadow: -2px -2px 1px 1px #282828;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  font-family: "playfair display", sans-serif;
  font-size: 0.7em;
  transition: visibility 0.3s ease;
}

.fa-facebook-f:hover .tooltip, .fa-twitter:hover .tooltip,
.fa-search:hover .tooltip, .fa-instagram:hover .tooltip {
  visibility: visible;
}

a.main-logo:hover, .fa-search:hover, .fa-bars:hover, .fa-fire:hover, .slogan:hover,
.fa-instagram:hover, .fa-twitter:hover, .nav-sections li:hover, .fa-facebook-f:hover,
.fa-youtube-square:hover {
  cursor: pointer;
  color: inherit;
}

div.fab.fa-facebook-f, div.fab.fa-twitter{
  color:
#ffe8ec
;
  }

.fa-instagram:active,
.fa-twitter:active,
.fa-facebook-f:active {
  color:
#ffe8ec
;
}
/* ------------------------ large screen nav bar ================*/

.table-just-for-centering {
  display: table;
  margin: auto;
}

.large-screen-nav {
  background-color:
#ffe8ec
;
  color: #7a0b20;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  margin: auto;
}

ul.nav-cats {
  margin: auto;
  display: flex;
  text-transform: uppercase;
  padding-top: 1.5em;
  font-size: 13px;
  font-weight: 700;
  font-family: 'lato', sans-serif;
}

li.cat {
  display: block;
  width: 100px;
  margin: auto;
  margin-bottom: 6px;
}

.cat a {
  color: #873846;
}

.genre-recipes {
width: 70%;
max-width: 690px;
height: 310px;
visibility: hidden;
position: relative;
padding-top: 1.5em;
position: absolute;
top: 16em;
left: 15%;
	background: linear-gradient(to bottom, #ffe8ec 0%, #ffe8ec 1.6em, #f7d2d8 1.6em, #f7d2d8 100%);
font-family: "playfair display", serif;
border-bottom: 1px solid grey;
}

.large-screen-nav .cat:hover .genre-recipes {
  visibility: visible;
}


.genre-box-name {
  border-top: 4px grey solid;
  margin-top: -3px;
  padding-left: 10%;
  padding-top: 2.5%;
}

.hover-recipe-section {
  display: flex;
  margin: 0 -5px;
  padding-right: 3%;
  padding-left: 3%;

}
.hover-pic {
  width: 100%;
  height: 170px;
  max-width: 100%;
  max-height: 231px;
  overflow: hidden;
}


.hover-recipe {
  width: 33%;
  height: 100%;
  max-height: 331px;
  overflow: hidden;
  margin: 0 5px;
  border-radius: 2px;
}

.nav-recipe-name {
  width: 100%;
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: center;
  font-weight: lighter;

}

/* ================== Pop-in Search Window ============= */

/* Search */

.result {
  width: 500px;
  height: 180px;
  display: flex;
  margin: 15px auto;
  text-align: left;
  background-color: rgb(47,79,79, 0.2);
  color: #db2e50;
}
.result-box a {
  display: flex;
}

.result-box a:visited {
  color: inherit;
}

.result-box img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid #873846;
  margin-right: 15px;
}

.result-box {
  font-family: "playfair display", serif;
  margin: 5px;
  width: 60%;
  line-height: 70px;
  font-size: 15px;
  text-align: left;
display: inline-flex;
flex-wrap: nowrap;
text-transform: capitalize;
border-bottom: 1px #dcdcdc solid;
}

.result-box div {
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*-------Search window------------------*/
#search-box {
  transition: 0.1s ease;
  width: 0;
  height: 0;
  overflow: hidden;
}

#search-box.in {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(255,255,255,0.96);
  z-index: 5000;
  position: absolute;
  top: 0;
  left: 0;
}
.fa-times.search{
transition: 0.4s;
margin-right: 50px;
margin-top: 50px;
float: right;
font-size: 45px;
visibility: visible;
}

.fa-times.search:hover {
  transform: rotate(90deg);
}

.fa-times:hover {
  cursor: pointer;
}

.search-input {
  display: block;
  margin: 10% calc(35% - 50px);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px grey solid;
  width: 40%;
  text-align: center;
  background-color: rgb(255,255,255,0);
  height: 3.4em;
  font-size: 2em;
  font-family: "playfair display",  serif;
   color: #7a0b20;
}

.search-input::placeholder {
  font-family: "playfair display", sans-serif;
  color:black;
  font-size: 1.3em;
}

.search-input:focus {
  outline: none;
}

#results-display {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: #873846;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

.search-results-area {
  text-align: left;
  margin-top: 1em;
}


  /* ======================== Footer ======================== */
  footer {
  	text-transform: uppercase;
  	background-color: #873846;
  	padding: 25px;
  	letter-spacing: 1px;
  	text-align: center;
    font-family: sans-serif;
  }

  .main-logo.footer {
    font-size: 1em;
  }

  .footer a {
    display: inline-flex;
    color: white;
  }

  .footer.social-media {
    width: 50vw;
    height: 7em;
    margin:auto;
    margin-bottom: 1em;
    color: white;
    text-align: center;
    line-height: 1;
    font-size: 12px;
  }
.footer.facebook, .footer.instagram, .footer.twitter, .footer.search {
  padding-top: 0.3em;
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 0.5em;
  margin-left:30%;
  }

  .footer .name {
    margin-left: 10px;
  }

  .footer .name:hover {
    cursor: pointer;
  }

  /* Back to top button */
  .top {
    margin: auto;
    width: 50px;
    height:50px;
    border-radius: 50px;
    padding: 10px;
    color: white;
    background-color: #7a0b20;
    text-transform: uppercase;
  }

  .top:hover {
    background-color: silver;
  }

  .top:focus {
    outline: none;
    border: blue 2px solid;
    border-radius: 50px;
  }

  /* ====================== Navigation ====================== */


  /*----------------------------- pop-up nav menu -----------------------------------*/
  .slide-in-navigation {
    color: white;
    list-style-type: none;
    background-image: url('https://rachelpfeiffer.github.io/cherry-website-demo/img/nav.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 88vw;
    position: relative;
    right: -150%;
    transition: 0.5s ease;
    margin-top: -70px;
    margin-bottom: -100%;
    display: none;
  }

  .slide-in-navigation.in {
    transform: translateX(-150%);
  }

  .black-header.out {
    transform: translateX(-86%);
  }

  .main-logo {
    margin-top: 0;
    padding-bottom: 1em;
    font-size: 1em;
    line-height: 70px;
  }

  .nav-sections {
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: -5%;
    font-size: 1.8em;
    text-align: center;
  }

  .nav-sections li {
    margin-top: 0.5em;
  }


  #contact-bar {
    height: 30%;
  }
  .social-media-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }


  .social-media-bar a {
    width: 7vw;
    height: 10vw;
    margin: 7vw;
    font-size: 1.3em;
    text-align: center;
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

.slide-in.nav {
  height: 100vh;
  width: 86vw;
  background-image: url('https://rachelpfeiffer.github.io/cherry-website-demo/img/nav.jpg');
  background-size: cover;
  z-index: 5;
  display: none;
  margin-top: -70px;
}

main.hidden {-+
  display: none;
}

.slide-in.nav.in {
  display: block;
}

.slide-in.nav ul.nav-cats {
  display: block;
  color: white;
  font-family: "playfair display", serif;
  padding-inline-start: 0;
  font-weight: normal;
  margin: 100px auto;
  text-align: center;
  padding-top: 0;
}

.slide-in.nav span.genre-name {
  color: white;
}

.slide-in.nav li.cat {
  cursor: pointer;
  height: 8%;
  font-size: 1.5em;
  text-transform: capitalize;
}

.slide-in.logo {
width: 100%;
text-align: center;
height: 70px;
background-color: #873846;
line-height: 70px;
font-size: 2.3em;
}

@media only screen and (min-width: 480px) {
  .result-box {
    margin: 5px 10%;
  }
}

@media only screen and (min-width: 600px) {
    .result-box {
    margin: 5px 20%;
  }

  .footer.social-media {
    width: 70vw;
    display: flex;
  }

  .footer.facebook, .footer.twitter, .footer.instagram, .footer.search {
    width: 20%;
    margin: auto;
  }

  footer div.fa-search {
    margin-right:0;
  }
}
/* Do not show navbar if view window is less than 780px wide */
@media only screen and (max-width: 750px) {
  .large-screen-nav {
    visibility: hidden;
  }
}

@media only screen and (min-width: 750px) {
  header {
    height: 180px;
  }k

  main {
    margin-top: 50px;
  }
    .black-header {
      height: 180px;
      background-color: #7a0b20;
      background-repeat: no-repeat;
    }

    .header.social-media, .header-search-trending {
      display: inline-block;
      color: #ffe8ec;
    }

    .header.social-media{
      width: 12vw;
      text-align: left;
      line-height: 180px;
      order: -1;
      margin-left: 15px;
    }
    .header.social-media a {
      padding-right: 10px;
    }
    .main-title {
      width: 80vw;
    }

    .main-logo {
      margin-bottom: -0.6em;
      padding-bottom: 0.5em;
      padding-top: 0.7em;
      font-size: 1.5em;
      color: white;
      margin-left: auto;
      margin-right: auto;
    }

    .slogan {
      color: #ddd2d4;
      text-align: center;
      display: block;
      letter-spacing: 1.5px;
      font-size: 1.2em;
      font-family: serif;
    }

    .slogan:hover {
      color: #ddd2d4;
    }

    .header-search-trending {
      order: 3;
      line-height: 180px;
    }



    .fa-fire, .fa-instagram {
      color: #ffe8ec;
      opacity: 1;
      margin-left: 1em;
      transition: 1s ease;
    }

    .fa-bars {
      position: absolute;
      right: -1000%;
    }

    .fa-search {
      margin-right: 2em;
      width: auto;
    }

    #results-display {
      margin-left: 25%;
      margin-right: 25%;
      margin-top: -3em;
      font-size: 20px;
    }

    .result-box {
      margin: 5px 20%;
    }
  }
