.recipe-header {
  display: flex;
  flex-wrap: wrap;
  height: 65vh;
  margin-top: 50px;
}

.recipe-image {
  width: 50%;
  max-width: 50%;
  height: 100%;
}

.recipe-image img {
  width: 100%;
  height: 100%;
}

.recipe-basic-info {
  width: 50%;
  margin: auto;
}

.recipe-genre, .recipe-name, .recipe-description {
  text-align: center;
}

.recipe-header .recipe-name {
  font-size: 2.6em;
  line-height: 3.5em;
  margin-top: -0.8em;
  margin-bottom: -1.2em;
  font-weight: normal;
}

.recipe-header .recipe-description {
  font-family: "playfair display", sans-serif;
  font-size: 1.8em;
  color: #444;
  font-style:italic;
}

.recipe-header .recipe-genre {
  font-size: 1em;
  color: #888;
  text-transform: uppercase;
  font-family: sans-serif;
}

.recipe-info-box {
  background-color: #f1f1f1;
  width: 70%;
  height: 100px;
  margin: auto;
  margin-top: 2em;
}

.recipe-info {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "playfair display", sans-serif;
  font-weight: normal;
}
.recipe-info-box div {
  margin-right: 10%;
  display: inline-flex;
  width: auto;
  font-size: 13px;
}

.recipe-info-box span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
  display: inline-block;
  width: auto;
  white-space: nowrap;
  font-size: 16px;
}

.recipe-info-box button {
  background-color: #ddd;
  color: #555;
  border: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: "playfair display", sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.3s ease;
  margin-left: 2%;
  border: none;

}

.recipe-info h1 {
  font-size: 18px;
}
.recipe-info-box button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}

.recipe-info {
padding:1%;
margin-left: 5%;
margin-right: 5%;
}

.description {
  margin: auto;
  font-family: "playfair display", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
}

.recipe-instructions {
  width: 100%;
  margin: auto;
}

div.ingredient-directions-box {
  margin: 2em auto;
  display: flex;
  max-width: 900px;
  width: 60%;
  font-family: "playfair display", serif;
  font-weight: normal;
}

.ingredients-box h1, .directions h1 {
  font-size: 1em;
}

.ingredients-box {
  text-align: left;
  float: left;
  height: 100%;
  width: 30%;
  font-size: 1.3em;
}


ul.ingredients {
  padding-inline-start: 0;
}

div.directions {
overflow: hidden;
text-align: left;
display: block;
float: right;
width: 70%;
letter-spacing: 1.2;
font-size: 1.3em;
}

div.directions ol li {
  margin-bottom: 1em;
}

.recipe-article {
  width: 60%;
  font-size: 1.3em;
  font-family: "playfair display", serif;
  line-height: 1.6em;
  margin: auto;
  letter-spacing: 0.03em;
  padding-bottom: 1em;
}

.recipe-article br {
}

blockquote {
  font-weight: bold;
  font-size: 2em;
  width: 40%;
  margin: 2em auto;
  float: left;
  border-bottom: 1px solid maroon;
  padding-bottom: 1em;
  margin-right: 1em;
}

.more-recipes {
  width: 336px;
  height: 336px;
  background-color: #1d1d1e;
  color: #ffffff;
  position: fixed;
  top: 200px;
  right: -500px;
  z-index: 10;
  transition: 1s ease;
}
.hidden {
  display: none;
}

.more-recipes.in {
right: 0;
}

.more-recipes h1 {
width: 336px;
text-align: center;
font-size: 2em;
font-family: "playfair display", serif;
}

.fa-times {
  margin-top: 20px;
  margin-left: 90%;
}

.close-box {
  width: 100%;
}

.subscribe {
  text-align: center;
  font-family: "playfair display", serif;
  font-size: 1em;
  width: 80%;
  margin: auto;
}

input {
  background-color: inherit;
  border-bottom: 1px solid #303030;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 80%;
  margin-left: 10%;
  margin-top: 2.5em;
}

input::placeholder {
  color: #ffffff;
  font-family: "playfair display", serif;
}

input:focus {
  border: none;
}

.subscribe-button {
  background-color: #6aa84f;
  font-family: "playfair display", serif;
  border: none;
  margin: 1em auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}

.subscribe-button:hover {
  cursor: pointer;
}

.terms {
  color: orange;
  height: 1em;
  margin-top: -2em;
  display: inline-block;
  width: 2em;
  font-family: sans-serif;
  font-size: 12pt;
}

span.terms {
  font-size: 12pt;
  font-family: sans-serif;
}

.in {
  opacity: 1;
}
